@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Daniel";
    src: url("./assets/fonts/daniel.ttf");
  }
  @font-face {
    font-family: "Danielbd";
    src: url("./assets/fonts/danielbd.ttf");
  }
  html {
    @apply flex flex-col min-h-full;
  }
  body {
    @apply flex flex-col flex-grow min-h-full text-gray-900 bg-gray-50;
  }
  #root {
    @apply flex flex-col flex-grow min-h-full;
  }
  h1 {
    @apply py-4 mb-2 text-sm tracking-wider text-center uppercase bg-gray-900 text-gray-50 sm:mb-5 sm:py-5 sm:text-base md:mb-6 md:py-6 md:text-lg lg:mb-7 lg:py-7 lg:text-xl xl:mb-8 xl:py-8 xl:text-2xl 2xl:mb-9 2xl:py-9 2xl:text-3xl;
  }
  h2 {
    @apply text-lg;
  }
  .link {
    @apply relative after:absolute after:bg-gray-900 after:bottom-0 after:left-0 after:h-[1px] after:w-full after:origin-bottom-left after:scale-x-100 hover:after:origin-bottom-right hover:after:scale-x-0 after:transition-transform after:ease-in-out after:duration-300;
  }
  nav [aria-current="page"] {
    @apply sm:bg-gray-900 sm:text-gray-50;
  }
}
